.progress-steps {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  justify-content: center;
  margin-top: -3rem;

  & .underline__gone {
    display: grid;
    grid-template-rows: 5.3rem 1fr;
    justify-content: center;
    align-content: center;

    & .information__step {
      color: #8e8383;
      font-size: 1.4rem;
      display: grid;
      justify-content: center;
      align-content: flex-end;
      margin-left: 5px;
      margin-bottom: 6px;

    }

    & .information__step--active {
      color: var(--colorRed);
    }

    & .number__step {
      display: grid;
      justify-content: center;
      align-content: center;
      background-color: white;
      border: solid 1px #8e8383;
      border-radius: 50%;
      width: 5.3rem;
      height: 5.3rem;
      color: #8e8383;
      font-weight: bold;
      font-size: 2.2rem;
      margin-left: 1rem;
    }

    & .number__step--active {
      display: grid;
      justify-content: center;
      border: solid 1px var(--colorRed);
      align-content: center;
      background-color: var(--colorRed);
      border-radius: 50%;
      width: 5.3rem;
      height: 5.3rem;
      color: white;
      font-weight: bold;
      font-size: 2.2rem;
      margin-left: 1rem;
    }
  }
}

.login__wrapper {
  display: grid;
  justify-content: center;

  & .login-title {
    display: grid;
    justify-content: center;
    font-size: var(--meduimSize);
    margin-top: 5.8rem;
  }

  & .account-maken {
    font-weight: 200;
    font-size: 2.4rem;
    margin-top: 1.4rem;
    margin-bottom: 4.2rem;

    & a {
      color: var(--colorRed);
    }
  }
}

.input__wrapper {

  & .bold {
    font-size: 2.4rem;
  }

  & .input__login {
    width: 47rem;
    height: 5rem;
    border: solid 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;

  }
}

.red {
  color: var(--colorRed);
}

.buttons__wrapper {
  display: grid;

  & .bold {
    display: grid;
    justify-content: center;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
  }

  & .login__button {
    appearance: none;
    background-color: var(--colorRed);
    color: white;
    font-size: var(--normalSize);
    padding: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 6.7rem;
  }

  & .guest__button {
    appearance: none;
    background-color: white;
    color: var(--colorRed);
    font-size: var(--normalSize);
    padding: 1rem;
    font-weight: bold;
    border: solid 2px var(--colorRed);
  }
}
