.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--smallSize);

  & .sub-nav__left {
    margin-right: 53.4rem;

    & .menu__link {
      text-decoration: none;
      color: var(--colorDarkerGrey);
      transition: ease-in-out 200ms;

      &:hover {
        color: var(--colorRed);
      }
    }

    & .highlight {
      background-color: var(--colorRed);
      width: 7.5rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2.7rem;
      margin-right: 2.7rem;

      & .menu__link {
        color: white;
      }
    }

    & .last-item {
      margin-left: 4.5rem;
    }
  }

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96rem;
  margin: 0 auto;
}
