:root {
  /*Colors*/
  --colorRed: #ee0a0d;
  --colorGrey: #f8f8f5;
  --colorYellow: #ffe40a;
  --colorBlack: black;
  --colorDarkerGrey: #535353;
  --colorLighterGrey: #979797;
  --colorGreen: #129321;
  /*fontsize*/
  --bigSize: 6rem;
  --meduimSize: 3.7rem;
  --averageSize: 2.7rem;
  --basicSize: 2rem;
  --buySize: 2.5rem;
  --smallSize: 1.4rem;
  /*Colors Longread*/
  --colorBackground: #020314;
  --colorBlue: #0c01b3;
  --colorPink: #e8007b;
  --colorPurple: #5a31e6;
  --colorTerminal: #32f50d;
  --colorBar: #bdbdbd;
  --colorLightPurple: #e032e6;
  /*fontsize longread*/

}

@custom-media --small-screen (width <= 500px);
@custom-media --big-screen (width <= 1400px);
@custom-media --mobile-screen (width <= 360px);
