@import './css/reset.css';
@import './css/vars.css';
@import './css/topnav.css';
@import './css/nav.css';

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
}
